body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
}

.header {
    padding: 20px;
    text-align: center;
    background: #92b3cc;
    background: #b10909;
    color: white;
}

 body {
    display: block;
    width: 60%;
}

.content {
    background-color: #f1f1f1;
    padding: 20px;
} 
.footer {
    padding: 20px;
    text-align: center;
    background: #92b3cc;
    color: rgb(24, 24, 24);
    background: #b10909; 
    line-height: 0.2;
}